venv
.env
.DS_Store
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.vscode
.idea
.pytest_cache
.env
.DS_Store
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

secrets/
mlruns/
notebooks/mlruns/
data/raw/tianchi_fresh_comp_train_item_online.txt
